@model IEnumerable<Incedo_Octavius_Demo_2.Models.BusinessUserSpecialtyModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="enter SpecialityMap or SpecialityMaster..." value="@ViewData["Getspecialitydetails"]" name="SpecialitySearch" style="width:500px;" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-action="Index">Get all Speciality</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpecialtyMap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialtyMaster)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialtyMap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialtyMaster)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MapID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.MapID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.MapID })
        </td>
    </tr>
}

</table>
